body {
    background-color: lightgrey;
   color: black;
    font-family: Arial;
} 
section {
    background-color: darkgrey
    border: 10px solid black;
    padding: 20px;
    align: center;
    text-align: center;
}
h1{
    text-align: center;   
}
